flows.json
[{"id":"5f06261f.cbe3e8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bb8407c8.701618","type":"ibmiot in","z":"5f06261f.cbe3e8","authentication":"apiKey","apiKey":"39b78eb8.fe3b72","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2345","applicationId":"","deviceType":"nodesense","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":240,"wires":[["ee6a5414.cdf2b8","1564b2ce.bb201d","222c77a.156e788"]]},{"id":"ee6a5414.cdf2b8","type":"debug","z":"5f06261f.cbe3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":260,"wires":[]},{"id":"1564b2ce.bb201d","type":"ui_gauge","z":"5f06261f.cbe3e8","name":"","group":"e830e6b3.b083e8","order":0,"width":0,"height":0,"gtype":"gage","title":"object","label":"units","format":"{{msg.payload.object}}","min":"1","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":400,"wires":[]},{"id":"222c77a.156e788","type":"ui_gauge","z":"5f06261f.cbe3e8","name":"","group":"e830e6b3.b083e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{msg.payload.temperature}}","min":"91","max":"105","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":480,"wires":[]},{"id":"11177f29.925691","type":"cloudant out","z":"5f06261f.cbe3e8","name":"","cloudant":"","database":"iotdata","service":"ciie-cloudant-1601455434477-51891","payonly":true,"operation":"insert","x":600,"y":160,"wires":[]},{"id":"39b78eb8.fe3b72","type":"ibmiot","z":"","name":"new Api","keepalive":"60","serverName":"l7jj8v.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e830e6b3.b083e8","type":"ui_group","z":"","name":"Temp","tab":"8e07fa25.2a9b58","order":4,"disp":true,"width":"6","collapse":false},{"id":"8e07fa25.2a9b58","type":"ui_tab","z":"","name":"Objecttemp","icon":"dashboard","disabled":false,"hidden":false}]