flows.json
[{"id":"5f06261f.cbe3e8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bb8407c8.701618","type":"ibmiot in","z":"5f06261f.cbe3e8","authentication":"apiKey","apiKey":"39b78eb8.fe3b72","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2345","applicationId":"","deviceType":"nodesense","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":240,"wires":[["ee6a5414.cdf2b8","1564b2ce.bb201d","222c77a.156e788","a4df57f0.06c358","a6913607.7e7068","14fe6e2e.4b1f22"]]},{"id":"ee6a5414.cdf2b8","type":"debug","z":"5f06261f.cbe3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"1564b2ce.bb201d","type":"ui_gauge","z":"5f06261f.cbe3e8","name":"","group":"e830e6b3.b083e8","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"Degree celcius","format":"{{msg.payload.temperature}}","min":"20","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":300,"wires":[]},{"id":"222c77a.156e788","type":"ui_gauge","z":"5f06261f.cbe3e8","name":"","group":"e830e6b3.b083e8","order":1,"width":0,"height":0,"gtype":"wave","title":"Air-Quality-PM2.5","label":"µg/m3","format":"{{msg.payload.PM25}}","min":"0","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":360,"wires":[]},{"id":"11177f29.925691","type":"cloudant out","z":"5f06261f.cbe3e8","name":"","cloudant":"","database":"iotdata","service":"ciie-cloudant-1601455434477-51891","payonly":true,"operation":"insert","x":600,"y":160,"wires":[]},{"id":"a4df57f0.06c358","type":"ui_gauge","z":"5f06261f.cbe3e8","name":"","group":"49100bfc.ea7ac4","order":0,"width":0,"height":0,"gtype":"compass","title":"Air-Quality-PM10","label":"µg/m3","format":"{{msg.payload.PM10}}","min":"0","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":440,"wires":[]},{"id":"a6913607.7e7068","type":"ui_gauge","z":"5f06261f.cbe3e8","name":"","group":"900c5308.3764","order":0,"width":0,"height":0,"gtype":"donut","title":"NO2","label":"µg/m3","format":"{{msg.payload.NO2}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":520,"wires":[]},{"id":"14fe6e2e.4b1f22","type":"ui_gauge","z":"5f06261f.cbe3e8","name":"","group":"5326e597.5666ec","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.Humidity}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":620,"wires":[]},{"id":"39b78eb8.fe3b72","type":"ibmiot","z":"","name":"new Api","keepalive":"60","serverName":"l7jj8v.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e830e6b3.b083e8","type":"ui_group","z":"","name":"PM25","tab":"8e07fa25.2a9b58","order":4,"disp":true,"width":"6","collapse":false},{"id":"49100bfc.ea7ac4","type":"ui_group","z":"","name":"PM10","tab":"8e07fa25.2a9b58","order":5,"disp":true,"width":"6","collapse":false},{"id":"900c5308.3764","type":"ui_group","z":"","name":"NO2","tab":"8e07fa25.2a9b58","order":6,"disp":true,"width":"6","collapse":false},{"id":"5326e597.5666ec","type":"ui_group","z":"","name":"Humidity","tab":"8e07fa25.2a9b58","order":7,"disp":true,"width":"6","collapse":false},{"id":"8e07fa25.2a9b58","type":"ui_tab","z":"","name":"Objecttemp","icon":"dashboard","disabled":false,"hidden":false}]